* {
	margin: 0px;
	padding: 0px;
	font-family: 'Times New Roman', Times, serif;
	font-weight: bold;
}

body {
	background: whitesmoke;
	height: 637px;
}

.main {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
	width: fixed;
	background: rgb(34, 34, 34);
	padding: 25px;
	border-radius: 15px;
	box-shadow: 0 0 15px;
}

.main h2 {
	text-align: center;
	color: white;
	text-transform: uppercase;
}

.button {
	width: 50px;
	height: 50px;
	font-size: 25px;
	margin: 2px;
	cursor: pointer;
	border: none;
	background: grey;
	color: white;
	border-radius: 15px;	
}

.button:active {
	position: relative;
	top: 1px;
	box-shadow: none;
}

.C {
	background: grey;
	color: rgb(226, 129, 38);	
}

.equal {
	background: #75d31c;
	color: white;
}

.btn {
	background:grey;
	color:#75d31c;
}

.textarea {
	width: 204px;
	margin: 4px;
	font-size: 20px;
	padding: 10px;
	border: none;
	color: #607d8b;
	border-radius: 25px;
	text-align: right;
}
